/*======== responsive =======*/
@media only screen and (min-width: 2560) {
	.header-container, .sec-blog, .sec-blog-image, .footer-container  {padding-left: 500px !important; padding-right: 500px !important;}
	.camera_caption > div{    margin-left: 18% !important;}
	.camera_prev{    left: 130px !important;}
	.camera_next{    right: 150px !important;}
	.widget .cols{    margin-right: 60px;}
	.widget .cerlang-box{margin-right: 39px;}
	
}
@media (min-width: 1680px){
	.header-container, .sec-blog, .sec-blog-image, .footer-container  {padding-left: 150px !important; padding-right: 150px !important;}
	.widget .cols{width: 414px !important;}
	.widget .cerlang-box{width: 300px !important;     margin-right: 60px;}
	/*.camera_caption > div{    margin-left: 90px !important;}
	.camera_prev{    left: 130px !important;}
	.camera_next{    right: 150px !important;}
	.widget .cols{    margin-right: 60px;}
	.widget .cerlang-box{margin-right: 39px;}*/

	/* BLOG DETAIL - ADRIAN */

	.widget .cols1 {	width: 423px !important;	height: 281px !important;	margin-right: 4%;}
	.widget .cols2 {	width: 910px !important;	height: 410px !important;}
	.widget .cols3 {	width: 414px !important;	height: 410px !important;	margin-left: 4% !important;}
	.sec-image {	padding: 100px 150px 0 150px !important;}
	.sec-blog-join {     background-size: 100% !important;}
	/* END BLOG DETAIL - ADRIAN  */


	/*======== article -detail dwim   =======*/
	.sec-container {padding: 60px 150px 0 150px !important;}
	.sec-container {padding: 60px 150px 0 150px !important;}
	.cat-article ul li{margin-right: 29px !important;}

	/*======== end article -detail dwim   =======*/

		/* AGENDA LIST DIMAS */

	h2 {font-size: 35px !important;}
	.sec-container {padding: 60px 150px 0 150px !important;}
	.widget .cols-agenda-text {width: 57% !important;}
	.widget .cols-agenda {width: 40% !important;}
	.cols-agenda-text p {font-size: 20px !important;}
	.cols-agenda-text span {font-size: 15px !important;}


	/* END */

		/*=== category_blog ==== FARIS ===*/
.sec-container{padding: 60px 150px 0 150px !important;}
.sec-blog-join{background-size: 100% !important;}
	/*===END category_blog ==== FARIS ===*/



	/*=== ARTIKEL_blog ==== FARIS ===*/
	.sec-header2 h1{left: 20.5% !important;    top: 28% !important; line-height: 65px !important;}
	.sec-header2 h4{left: 12.5% !important;    top: 45% !important;}
	.sec-header2 p{left: 28% !important; top: 55% !important;}


	.widget2 .cols2{width: 410px !important;}


	.pagination{ font-size: 20px !important;  margin-left: 25% !important;}
	.sec-blog-join{background-size: 100% !important;}
	
	/*=== END ARTIKEL_blog ==== FARIS ===*/





}
@media (min-width: 1440px) and (max-width: 1555px){
	.header-container, .sec-blog, .sec-blog-image, .footer-container  {padding-left: 135px !important; padding-right: 135px !important;}
	.camera_caption > div{    margin-left: 90px !important;}
	.camera_prev{    left: 130px !important;}
	.camera_next{    right: 150px !important;}
	.widget .cols{    margin-right: 60px;}
	.widget .cerlang-box{margin-right: 39px;}

	/*BLOG DETAIL - ADRIAN */

	 .sec-image { padding: 100px 135px 0 135px !important;}
	 .widget .cols1{	margin-right: 5%;}
     .widget .cols3 {	width: 361px !important;	margin-left: 5% !important;}

	/* END BLOG DETAIL - ADRIAN*/

	/* CERLANG - ADRIAN */

	.image-article {	width: 724px !important;}

	/* END CERLANG ADRIAN */

	/* AGENDA LIST DIMAS */

	.widget .cols-agenda {width: 35% !important;}
	.widget .cols-agenda-text {width: 62% !important;}
	.cols-agenda-text p {font-size: 18px !important; line-height: 30px!important;}
	.sec-container {padding: 60px 135px 0 135px !important;}
	.cols-agenda-text span {font-size: 14px !important;}


	/* END */
	
	/*=== category_blog ==== FARIS ===*/
	.sec-container{padding: 60px 135px 0 135px !important;}

   	 .widget .cols {    width: 350px !important;    /* margin-right: 0px !important;*/}

	/*=== END category_blog ==== FARIS ===*/





	/*=== ARTIKEL_blog ==== FARIS ===*/
	.sec-header2 h1{left: 23% !important;}
	.sec-header2 h4{left: 13.5% !important;}

    .sec-header2 p{left: 32% !important;}



	.widget2 .cols2 {width: 340px !important;}

	.pagination{margin-left: 15% !important;}


	/*=== END ARTIKEL_blog ==== FARIS ===*/

	/*======== article -detail dwim   =======*/
	 .sec-container {padding: 60px 135px 0 135px !important;}

	/*======== end article -detail dwim   =======*/
	
	
}
/*@media (max-width: 1366px) and (min-width: 1360px){
	.header-container, .sec-blog, .sec-blog-image, .footer-container  {padding-left: 100px !important; padding-right: 100px !important;}
	.widget .cols{    width: 345px   !important;margin-right: 43px  !important}
	.widget .cerlang-box{    margin-right: 45px !important; width: 257px !important;}

}*/

@media (max-width: 1300px){
	.home-galeri-wisata{width: 70% !important;}
	.widget .cols{    margin-right: 3%;}
	.agenda-text{width: 40% !important;}
	.widget .cerlang-box{    margin-right: 2%;}

	/*BLOG DETAIL - ADRIAN*/
	.sec-image {	padding: 100px 80px 0 80px !important;}
	.widget .cols1{		width: 357px !important;    margin-right: 3%;}
	.widget .cols3{		width: 355px !important;	margin-left: 3% !important;	}
	
	/* END BLOG DETAIL - ADRIAN */

	/* CERLANG ADRIAN */
	.image-article {	width: 706px !important;}

	/* END CERLANG ADRIAN */

		/*======== article -detail dwim   =======*/
	.nwslt {width: 195px !important;}
	.sec-container {padding: 60px 80px 0 80px;}
	/*======== end article -detail dwim   =======*/
	
		/*=== category_blog ==== FARIS ===*/
	.sec-container{padding: 60px 80px 0 80px !important;}
	/*=== END category_blog ==== FARIS ===*/

	/*=== ARTIKEL_blog ==== FARIS ===*/
	.sec-header2 h1{top: 27%;}


	.widget2 .cols2 {width: 330px !important;}
	/*=== END ARTIKEL_blog ==== FARIS ===*/	

	/*===CATEGORY DETAIL BOGOR==*/

	.sec-header3 h1{top: 311px !important;    left: 298px !important;}
	.sec-header3 p{	font-size: 12px !important;	top: 445px !important;    left: 410px !important;}

	/*END CATEGORY DETAIL BOGOR*/



}
@media (max-width: 1290px){

	
	.header-container, .sec-blog, .sec-blog-image, .footer-container  {padding-left: 40px !important; padding-right: 40px !important;}

	/*======== home page =======*/

	.camera_caption > div{width: 640px !important; padding: 45px 17px 18px 0px !important;}
	.camera_caption{font-size: 38px !important; font-size: 38px !important;}
	.header-menu ul li{margin-left: 60px !important;}
	.home-galeri-wisata{width: 64% !important;}
	.image-gw{width: 335px !important;}

	.image-gw-title{bottom: 100px !important;}

	.widget .cols{width: 30% !important;margin-left: 0px !important; margin-right: 5%;}
	.widget .cols-sum-desc{bottom: 75px !important;}
	/*.widget .cols{width: 345px !important;margin-left: 0px !important; margin-right: 52px;}*/
	.widget .cols-article{width: 565px  !important;}
	.widget .cols-sum-title p{font-size: 22px !important; line-height: 27px !important;}
	.widget .cols-sum-desc p{font-size: 13px !important; line-height: 20px !important;}
	.widget .video-yt{width: 740px  !important;}

	.agenda-text{width: 380px !important;}
	.agenda-list .agenda-box{width: 500px !important; height: 470px !important;}
	.summary-ag{width: 312px;}

	.widget .cerlang-box{margin-right: 30px; width: 270px  !important;}

	.footer-info .footer-alamat{    margin-right: 135px !important;}

	/*======== end home page =======*/

	/*BLOG DETAIL - ADRIAN*/

	.sec-article {    padding: 80px 280px 0 280px;}
	.sec-image {    padding: 80px 40px 0 40px !important;}
	.widget .cols1{	   width: 363px !important;	margin-right: 5%;}
	.widget .cols3{    width: 363px !important;margin-left: 8% !important;}


	/*END BLOG DETAIL - ADRIAN */

	/* CERLANG ADRIAN */


	.image-article {	width: 749px !important;}


	/* END CERLANG ADRIAN */

		/* AGENDA LIST DIMAS */

	.widget .cols-agenda-text {width: 67% !important;}
	.sec-container {padding: 60px 40px 0 40px !important;}
	.cols-agenda-text p {font-size: 15px !important;}


	/* END */

	/*=== category_blog ==== FARIS ===*/
	.sec-container{padding: 60px 40px 0 40px !important;}
	/*=== END category_blog ==== FARIS ===*/


	/*=== ARTIKEL_blog ==== FARIS ===*/
	.sec-header2  h1{ left: 18.5% !important;     top: 25% !important;}
	.sec-header2 h4{   left: 8% !important;    top: 45% !important;}
	.sec-header2 p{    left: 28.5% !important; top: 56.5% !important;}


	.widget2 .cols2 {width: 354px !important;}
	.sec-nav-page{margin: 0 30% 0 30% !important;}



	 
	 	/*======== article -detail dwim   =======*/
	.sec-container {padding: 60px 40px 0 40px !important;}
	/*======== end article -detail dwim   =======*/


	
}


/*@media (max-width: 1280px){

	.widget .cols1 {	margin-right: 55px;}
	.widget .cols3 {	margin-left: 60px !important;}


}*/

@media (max-width: 1230px){

	.home-dir-wisata{    width: 29% !important;}
	.home-galeri-wisata{width: 69% !important;}
	.widget .cols{width: 32% !important;margin-right: 2%;}
	.image-gw{width: 333px !important;}
	.widget .cols-article{    width: 49% !important;}
	.widget .cerlang-box{  margin-right: 6%;width: 20%!important;}

	/*BLOG DETAIL - ADRIAN*/
	.sec-article	{    padding: 50px 230px 0 230px !important;}
	.sec-image {	padding: 50px 40px 0 40px !important;}
	.widget .cols1 {	width: 352px !important;	margin-right: 4%;}
	.widget .cols2 {	width: 744px !important;	height: 320px !important;}
	.widget .cols3 {	margin-left: 6% !important;	width: 337px !important;	height: 320px !important;}
	.sec-share {	padding: 20px 0 0 230px !important;}
	/* END BLOG DETAIL - ADRIAN */

	/* CERLANG - ADRIAN */
	.image-article {	width: 714px !important;}
	/* END CERLANG - ADRIAN */

	/* AGENDA LIST DIMAS */

	.widget .cols-agenda-text {width: 65% !important;}

	/* END */

	/*=== ARTIKEL_blog ==== FARIS ===*/
	.sec-header2 h1{left: 19.5% ;}
	/*.sec-header2 h1 {left: 19.5% !important;     top: 27% !important;}*/
	.sec-header2 h4{ left: 18.5% !important;    top: 27% !important; }
	.sec-header2 p{left: 28.9% !important;     top: 61.5% !important;}


	.widget2 .cols2 {width: 334px !important;}
	/*=== END ARTIKEL_blog ==== FARIS ===*/	

	/*===CATEGORY DETAIL BOGOR==*/

	.sec-header3 h1{top: 303px !important;    left: 298px !important;}
	.sec-header3 p{	font-size: 12px !important;	top: 431px !important;    left: 410px !important;}

	/*END CATEGORY DETAIL BOGOR*/


}

@media (max-width: 1130px){

	
	.header-container, .sec-blog, .sec-blog-image, .footer-container  {padding-left: 40px !important; padding-right: 40px !important;}

	/*======== home page =======*/

	.camera_caption > div{width: 640px !important; padding: 45px 17px 18px 0px !important;}
	.camera_caption{font-size: 38px !important; font-size: 38px !important;}
	.header-menu ul li{margin-left: 39px !important;}
	.home-galeri-wisata{width: 64% !important;}
	.image-gw{width: 298px !important;}

	.image-gw-title{bottom: 90px !important;}

	.widget .cols{width: 305px !important;margin-left: 0px !important; margin-right: 52px;}
	.widget .cols-article{width: 475px !important;}
	.widget .cols-sum-title p{font-size: 22px !important; line-height: 27px !important;}
	.widget .cols-sum-desc p{font-size: 12px !important; line-height: 20px !important;}
	.widget .video-yt{width: 500px !important;}

	.agenda-text{width: 350px !important;}
	.agenda-list .agenda-box{width: 500px !important; height: 470px !important;}
	.summary-ag{width: 312px;}

	.widget .cerlang-box{margin-right: 26px; width: 229px !important;}

	.footer-info .footer-alamat{    margin-right: 65px !important;}

	/*======== end home page =======*/


	/* BLOG DETAIL - ADRIAN	*/
	.sec-article	{    padding: 40px 220px 0 220px !important;}
	.sec-image {	padding: 40px 40px 0 4	0px !important;}
	.widget .cols1 {	margin-right: 3%;	width: 329px !important;	height: 214px !important;}
	.widget .cols2 {	width: 705px !important;	height: 290px !important;}
	.widget .cols3 {	margin-left: 3% !important;	width: 313px !important;	height: 290px !important;}
	.sec-share {	padding: 20px 0 0 220px !important;}

	/* END BLOG DETAIL - ADRIAN*/

	/* CERLANG ADRIAN */
	.image-article {	width: 658px !important;}
	/* END CERLANG ADRIAN */

	/* AGENDA LIST DIMAS */

	.widget .cols-agenda-text {width: 62% !important;}

	/* END */

	/*=== ARTIKEL_blog ==== FARIS ===*/

	.sec-header2 h1 {left: 20.5% !important; top: 26% !important;}
	.sec-header2 h4 {left: 8.5% !important; top: 46% !important;}
	.sec-header2 p {left: 31.8% !important; top: 58.5% !important;}

	.widget2 .cols2 {width: 300px !important;}
	.sec-nav-page { margin: 0 28% 0 28% !important;}

    	/*=== end ARTIKEL_blog ==== FARIS ===*/

	/*======== articke -detail dwim  =======*/
	.sec-container {padding: 60px 35px 0 35px !important;}
	    
	.gallery-artcl-detil ul li {    padding-right: 15px !important;}


	/*======== end articke -detail dwim   =======*/

	/*===CATEGORY DETAIL BOGOR==*/

	.sec-header3 h1{top: 275px !important;    left: 298px !important;}
	.sec-header3 p{	font-size: 12px !important;	top: 397px !important;    left: 410px !important;}

	/*END CATEGORY DETAIL BOGOR*/


}

@media (max-width: 1030px){

	
	.header-container, .sec-blog, .sec-blog-image, .footer-container  {padding-left: 40px !important; padding-right: 40px !important;}

	/*======== home page =======*/

	.camera_caption > div{width: 640px !important; padding: 45px 17px 18px 0px !important;}
	.camera_caption{font-size: 38px !important; font-size: 38px !important;}
	.header-menu ul li{margin-left: 39px !important;}
	.home-galeri-wisata{width: 64% !important;}
	.image-gw{width: 255px !important;}

	.image-gw-title{bottom: 73px !important;}

	.widget .cols{width: 30%!important;margin-left: 0px !important;margin-right: 5%;}
	.widget .cols-article{width: 450px !important;}
	.widget .cols-sum-title p{font-size: 22px !important; line-height: 27px !important;}
	.widget .cols-sum-desc p{font-size: 12px !important; line-height: 20px !important;}
	.widget .video-yt{width: 500px !important;}

	.agenda-text{width: 350px !important;}
	.agenda-list .agenda-box{width: 500px !important; height: 470px !important;}
	.summary-ag{width: 312px;}

	.widget .cerlang-box{ width: 210px !important;}

	.footer-info .footer-alamat{    margin-right: 65px !important;}

	/*======== end home page =======*/

	/*======== blog detai page =======*/


	/* BLOG DETAIL - ADRIAN */
	.sec-article	{    padding: 40px 180px 0 180px !important;}
	.sec-image {	padding: 40px 40px 0 40px !important;}
	.widget .cols1 {	margin-right: 3%;	width: 295px !important;	height: 190px !important;}
	.widget .cols2 {	width: 630px !important;	height: 250px !important;}
	.widget .cols3 {	margin-left: 4% !important;	width: 272px !important;	height: 250px !important;}
	.sec-share {	padding: 20px 0 0 180px !important;}

	/* END BLOG DETAIL - ADRIAN */

	/* CERLANG - ADRIAN */
	.image-article {	width: 585px !important;}
	/* END CERLANG - ADRIAN */

	/* AGENDA LIST DIMAS */

	.widget .cols-agenda {width: 33% !important;}
	.widget .cols-agenda-text {width: 63% !important;}

	/* END */

	/*=== ARTIKEL_blog ==== FARIS ===*/

	/*diliat dari 1024*/
	.sec-header2 h1 {line-height: 50px !important;left: 23% !important;top: 26% !important;}
	.sec-header2 h4 {left: 9.8% !important; top: 44% !important;}
	.sec-header2 p {left: 35.3% !important; top: 53.5% !important;}
	
	.widget2 .cols2 {margin-right: 2.3% ;}



	.sec-nav-page {margin: 0 25% 0 26% !important;}
    	/*=== end ARTIKEL_blog ==== FARIS ===*/

	/*========  article -detail dwim   =======*/
	.nwslt {width: 158px !important;}
	.sec-container {
    padding: 60px 40px 0 40px !important;}

	.cat-article ul li {
    margin-bottom: 30px !important;
    margin-right: 6px !important;}
	.gallery-artcl-detil ul li {width: 319px !important;}




	/*======== end article -detail dwim   =======*/

	/*===CATEGORY DETAIL BOGOR==*/

	.sec-header3 h1{font-size: 46px !important; top: 250px !important;    left: 285px !important;}
	.sec-header3 p{	font-size: 11px!important;	top: 372px !important;    left: 389px !important;}

	/*END CATEGORY DETAIL BOGOR*/


}

@media (max-width: 980px){
	.widget .cols-article{width: 48% !important;}
	.agenda-text{width: 35% !important;}
	.agenda-list .agenda-box{    width: 450px !important;}
	.summary-ag{width: 260px !important;}
	.widget .cerlang-box{width: 22% !important;}
	.widget .video-yt{width: 54% !important;}

	/* BLOG DETAIL - ADRIAN */
	.sec-article {	padding: 40px 160px 0 160px !important;}
	.sec-image {	padding: 40px 40px 0 40px !important;}
	.widget .cols1 {	margin-right: 5%;	width: 270px !important;	height: 170px !important;}
	.widget .cols2 {	width: 605px !important;	height: 245px !important;}
	.widget .cols3 {	margin-left: 5% !important;	width: 250px !important;	height: 245px !important;}
	.sec-share {	padding: 20px 0 0 160px !important;}
	.share-title p {    line-height: 31px !important;}
	.sec-icon {    font-size: 26px !important;}
	/* END BLOG DETAIL - ADRIAN*/

	/* AGENDA LIST DIMAS */

	.widget .cols-agenda {width: 30% !important;}
	.widget .cols-agenda-text {width: 66% !important;}
	.widget .cols-agenda-text h2 {font-size: 20px !important;}
	.cols-agenda-text span {font-size: 10px !important;}
	.cols-agenda-text p {font-size: 13px !important;}
	.button3 .button-daftar {font-size: 12px !important; padding: 8px 40px !important;}

	/* END */

	/*=== ARTIKEL_blog ==== FARIS ===*/


	.sec-header2 h1 {left: 20% !important; top: 31% !important;    font-size: 40px !important;
    line-height: 45px !important;}
    .sec-header2 h4 {left: 7.8% !important; top: 51% !important;     font-size: 8px !important;}
    .sec-header2 p {left: 31.6% !important;  top: 63.5% !important; font-size: 10px !important;}
    
    .widget2 .cols2 {width: 284px !important;}

    .sec-nav-page {margin: 0px 24% 0 24% !important;}

		/*=== END ARTIKEL_blog ==== FARIS ===*/

	/*======== article -detail dwim   =======*/
	.nwslt {    width: 158px !important;}
	.gallery-artcl-detil ul li {width: 304px !important;}


	/*======== end article -detail dwim   =======*/

	/*===CATEGORY DETAIL BOGOR==*/

	.sec-header3 h1{font-size: 43px !important; top: 243px !important;    left: 280px !important;}
	.sec-header3 p{	font-size: 10px!important;	top: 361px !important;    left: 372px !important;}

	/*END CATEGORY DETAIL BOGOR*/

}
@media (max-width: 950px){
	.header-menu ul li{margin-left: 20px !important;}
	.home-galeri-wisata{width: 70% !important;}

	/* BLOG DETAIL - ADRIAN */
	.sec-article {	padding: 40px 150px 0 150px !important;}
	.sec-image {	padding: 40px 40px 0 40px !important;}
	.widget .cols1 {	margin-right: 6%;	width: 255px !important;	height: 160px !important;}
	.widget .cols2 {	width: 580px !important;	height: 230px !important;}
	.widget .cols3 {	margin-left: 6% !important;		width: 237px !important;	height: 230px !important;}
	.sec-share {	padding: 20px 0 0 150px !important;}


	/* END BLOG DETAIL - ADRIAN */

	/* CERLANG - ADRIAN */

	.image-article {	width: 539px !important;}

	/* END CERLANG ADRIAN */


	/*=== ARTIKEL_blog ==== FARIS ===*/
	.sec-header2 p {left: 32.6% !important;}
	.widget2 .cols2 {width: 274px !important;}

	.cols-sum-whitout-box-shadow .title-content a {font-size: 14px !important;}
	.summary-content-blog p {font-size: 10px !important;} 
	/*=== END ARTIKEL_blog ==== FARIS ===*/


	/*======== article -detail dwim   =======*/
	.nwslt {width: 150px !important;}
	.btn.nwslt{width: 95px !important;}
	.gallery-artcl-detil ul li {
    padding-right: 4px !important;}
	/*======== end article -detail dwim   =======*/

	/*===CATEGORY DETAIL BOGOR==*/

	.sec-header3 h1{font-size: 40px !important; top: 243px !important;    left: 268px !important;}
	.sec-header3 p{	font-size: 10px!important;	top: 343px !important;    left: 372px !important;}

	/*END CATEGORY DETAIL BOGOR*/		

}


@media (max-width: 778px){
	
	.header-container, .sec-blog, .sec-blog-image, .footer-container  {padding-left: 30px !important; padding-right: 30px !important;}

	/*======== home page =======*/
	.header-logo{width: 150px !important;}
	.header-menu ul li{font-size: 11px !important;letter-spacing: 1px !important;margin-left: 26px !important;}

	.camera_caption{font-size: 25px !important;top: 46px !important; line-height: 35px !important;}
	.camera_caption > div{width: 430px !important;}

	.home-galeri-wisata{width: 50% !important;}
	.image-gw{width: 344px !important;}
	.image-gw-title{bottom: 100px !important;}
	.widget .cols{    width: 221px !important;     margin-right: 22px;}

	.widget .cols-sum-title p{width: 75% !important;    font-size: 18px !important;}
	.widget .cols-article{    width: 341px !important;}
	.widget .cols-sum-desc p{    line-height: 16px !important;}

	.widget .video-yt{width: 367px !important;}
	.video-row .video-list{width: 291px !important;}
	.cols-list{width: 280px !important;}

	.agenda-text{width: 250px !important;}
	.agenda-list .agenda-box{width: 368px !important;}
	.agenda-list .agenda-box{padding: 21px 19px 0 19px !important;}

	.image-ag{width: 146px !important;}
	.image-ag img{ height: auto !important; }
	.summary-ag{width: 203px !important;}
	.list-top-title p{    font-size: 14px !important;}
	.list-top-sum{margin-top: 8px !important;}
	.list-date-td p{font-size: 14px !important}

	.list-ag-head{margin-top: 30px !important;}

	.list-ag-cat p, .list-ag-date p {font-size: 13px !important;}
	.list-ag-sum p{    font-size: 12px !important; line-height: 17px !important;}

	.widget .cerlang-box{margin-right: 18px !important;width: 159px !important;}

	.footer-info .footer-alamat span, .footer-alamat ul li a, .footer-apps ul li a{font-size: 13px !important;line-height: 23px !important;}
	.footer-info .footer-alamat{margin-right: 0px !important;}
	

	/*======== end home page =======*/


	/*BLOG DETAIL - ADRIAN*/
	.sec-article {		padding: 30px 120px 0 120px !important;}
	.sec-image {	padding: 30px 30px 0 30px !important;}
	.widget .cols1 {	margin-right: 5%;	width: 210px !important;	height: 140px !important;}
	.widget .cols2 {	width: 453px !important;	height: 210px !important;}
	.widget .cols3 {	margin-left: 5% !important;	width: 214px !important;	height: 210px !important;}
	.sec-share {	padding: 20px 0 0 120px !important; }
	.share-title p {	line-height: 31px !important;}
	.sec-icon {	font-size: 26px !important;}
	/* END BLOG DETAIL - ADRIAN */

	/* CERLANG ADRIAN */


	.image-article {	width: 439px !important;}


	/* END CERLANG ADRIAN*/

	/* AGENDA LIST DIMAS */

	.widget .cols-agenda-text {width: 65% !important;}
	h2 {font-size: 20px !important;}
	.widget .cols-agenda-text h2 {font-size: 18px !important; margin-bottom: 5px !important; margin-top: 2px !important;}
	.cols-agenda-text span {font-size: 9px !important;}
	.cols-agenda-text p {font-size: 12px !important; line-height: 15px !important;}
	.button3 .button-daftar {font-size: 10px !important; padding: 7px 39px !important;}

	/* END */

	/*=== category_blog ==== FARIS ===*/
	
	.sec-container {padding: 60px 30px 0 30px !important;}

	/*=== END category_blog ==== FARIS ===*/
	/*=== ARTIKEL_blog ==== FARIS ===*/
	.sec-header2 h1 {left: 20% !important; top: 27% !important; font-size: 30px !important; line-height: 35px !important;}
	.sec-header2 h4 {left: 9.8% !important; top: 44% !important; font-size: 8px !important;}
	.sec-header2 p {left: 34% !important; top: 56.5% !important; font-size: 8px !important;}

	.widget2 .cols2 {width: 225px !important;}
	.cols-sum-whitout-box-shadow .title-content a {font-size: 14px !important;}
	.summary-content-blog p {font-size: 8px;}

	.sec-nav-page {margin: 0px 20% 0 18% !important; font-size: 10px !important;}

	/*=== END ARTIKEL_blog ==== FARIS ===*/

	/*======== article -detail dwim   =======*/
	
	.sec-container {padding: 60px 30px 0 30px !important;}
	.nwslt {font-size: 11px !important;}
    .nwslt {width: 137px !important;}

	.btn-nwslt{ width: 75px !important;}
	.gallery-artcl-detil ul li {
    width: 247px !important;}

	/*======== end article -detail dwim   =======*/

	/*===CATEGORY DETAIL BOGOR==*/

	.sec-header3 h1{font-size: 33px !important; top: 190px !important;    left: 222px !important;}
	.sec-header3 p{	line-height: 15px !important; font-size: 9px!important;	top: 295px !important;    left: 310px !important;}

	/*END CATEGORY DETAIL BOGOR*/		




}

@media (max-width: 760px){
	.widget .cols{    margin-right: 18px !important; width: 215px !important;}
	.widget .cerlang-box{margin-right: 16px !important;}

	/* BLOG DETAIL - ADRIAN */

	.sec-article {	padding: 20px 120px 0 120px !important;}
	.sec-image {	padding: 20px 30px 0 30px !important;}
	.widget .cols1 {	margin-right: 5%;	width: 210px !important;	height: 125px !important;}
	.widget .cols2 {	width: 465px !important;	height: 200px !important;}
	.widget .cols3 {	margin-left: 5% !important;	width: 200px !important;	height: 200px !important;}
	.sec-share {    padding: 20px 0 0 120px !important;}

	/* END BLOG DETAIL - ADRIAN */

	/* CERLANG ADRIAN */
	.image-article {	width: 433px !important;}
	/* END CERLANG ADRIAN */

	/* AGENDA LIST DIMAS */

	.widget .cols-agenda-text h2 {font-size: 22px !important; margin-bottom: 10px !important;}
	.widget .cols-agenda-text h2 {font-size: 17px !important; margin-bottom: 8px !important;}

	/* END */

	/*=== category_blog ==== FARIS ===*/
	.widget .cols .cols-sum{padding-right: 24px !important;}

	/*=== END category_blog ==== FARIS ===*/


	/*=== ARTICLE_blog ==== FARIS ===*/
	.widget2 .cols2 {width: 225px !important;     margin-right: 1.63% ;}

	.sec-nav-page {margin: 0px 18% 0 18% !important;}


		/*=== END ARTICLE_blog ==== FARIS ===*/


	/*======== article -detail dwim   =======*/
	.txt-nwslt p {font-size: 8px !important}
	.nwslt {font-size: 11px !important;}
	.desc-blog p {font-size: 14px !important;}

	.box-cat-article {padding-top: 20px;}
	.gallery-artcl-detil ul li {width: 244px !important;}
	.cat-article ul {padding-top: 17px !important;}

	.row-det h2 {font-size: 24px !important;}
	.tag-gratis {padding-top: 19px;
    padding-bottom: 4px !important;}

    .cat-article ul li a {padding: 12px 15px;
    font-size: 12px !important;}



	/*======== end article -detail dwim   =======*/

	/*===CATEGORY DETAIL BOGOR==*/

	.sec-header3 h1{top: 205px !important;   }
	.sec-header3 p{	font-size: 9px!important;	top: 304px !important;    left: 306px !important;}

	/*END CATEGORY DETAIL BOGOR*/		


}
@media (max-width: 610px){
	.header-menu{display: none !important;}
	.header-menu-mobile{display: block !important; float: right;}
	
	/*======== home page =======*/

	.camera_caption{top: 10% !important;}
	.camera_caption > div{margin-left: 37px !important;}

	.header-body{height: 70px !important;}
	.header-container{padding-top: 18px !important;}

	.home-dir-wisata{width: 200px !important;}
	.image-gw{width: 294px !important;}
	.image-gw-title{bottom: 87px !important;}

	.widget .cols{    margin-right: 14px !important;width: 166px !important;}
	.widget .cols-article{width: 100% !important;padding-top: 20px;}

	.widget .video-yt{width: 100% !important;}
	.video-row{width: 100% !important;padding-top: 35px !important;}
	.video-row .video-list{width: 100% !important;}
	.cols-list{width: 90% !important;}

	.agenda-text{width: 200px !important;}
	.agenda-list .agenda-box{width: 290px!important;}
	.image-ag{width: 120px !important;}
	.summary-ag{clear: both !important;width: 100% !important;padding-top: 10px !important;float: none !important;}

	.list-top-sum p{text-align: justify !important;line-height: 18px !important;font-size: 13px !important;}
	.list-date .ld-loc{left: 168px !important;}
	.list-date-td .td-loc{    left: 173px !important;}

	.list-ag-head{margin-top: 19px !important;}
	.list-ag-sum{margin-top: 8px !important;}

	.widget .cerlang-box{width: 119px !important;}
	.footer-info .footer-alamat{width: 20% !important;}

	.footer-copyright{padding-top: 60px !important;}
	.cpr p{font-size: 12px !important;}

	.sosmed ul li{font-size: 20px !important;margin-left: 21px !important;}
	/*======== end home page =======*/


	/*BLOG DETAIL - ADRIAN*/
	.sec-header p {    font-size: 45px !important;}
	.sec-image {	padding: 30px 30px 0 30px !important;}
	.content-article-sum {	font-size: 12px;}
	.sec-article {	padding: 0px 120px 0 120px !important;}
	.widget .cols1 {	margin-right: 12px;	width: 175px !important;	height: 115px !important;}
	.widget .cols2 {	width: 365px !important;	height: 155px !important;}
	.widget .cols3 {	margin-left: 5% !important;	width: 155px !important;	height: 155px !important;	}
	.share-title p {	line-height: 34px !important;	font-size: 10px !important;}
	.join-p {	width: 600px !important;}
	/* END BLOG DETAIL - ADRIAN */

	/* CERLANG ADRIAN */
	.image-article {	width: 341px !important;}
	.join-p {	width: 600px !important;}
	/* END CERLANG ADRIAN */

	/* AGENDA LIST DIMAS */

	.sec-container {padding: 40px 30px 0 30px !important;}
	.widget .cols-agenda {width: 35% !important;}
	h2 {font-size: 18px !important;}
	.widget .cols-agenda-text {width: 59% !important;}
	.widget .cols-agenda-text h2 {font-size: 15px !important; margin-bottom: 0px !important;}
	.cols-agenda-text span {font-size: 8px !important; padding-bottom: 15px !important;}\
	.cols-agenda-text p {font-size: 10px !important;}

	/* END */


	/*=== category_blog ==== FARIS ===*/
		/*=== END category_blog ==== FARIS ===*/



	/*=== ARTICLE_blog ==== FARIS ===*/

		.sec-header2 h1 {left: 18% !important; top: 20% !important; font-size: 20px !important; line-height: 24px !important;}
		.sec-header2 h4 {left: 9.8% !important; top: 32% !important; font-size: 6px !important;}
		.sec-header2 p {left: 35% !important; top: 41.5% !important; font-size: 6px !important; line-height: 15px;}
		
		.h2{    font-size: 20px !important;}
		.kanan ul li{font-size: 14px !important;}
		.sort-article{padding: 10px 18px 7px 11px;}

		.widget2 .cols2 {width: 550px !important;     padding-bottom: 5% !important;}
		.cols-sum-whitout-box-shadow .title-content a {font-size: 20px !important;}
		.summary-content-blog p {font-size: 11px;}
		.sec-nav-page {margin: 0px 3% 0 10% !important;}
		/*=== END ARTICLE_blog ==== FARIS ===*/

	/*======== article -detail dwim   =======*/

	.nwslt {font-size: 10px !important;}
	.btn.nwslt {margin-left: 4px !important;}
	.row-det h2 {font-size: 18px !important;}
	.gallery-artcl-detil ul li {width: 190px !important;}
    .nwslt {font-size: 12px !important;}
    .nwslt {width: 131px !important;}

	/*======== end article -detail dwim   =======*/

	/*===CATEGORY DETAIL BOGOR==*/

	.sec-header3 h1{font-size: 29px !important; top: 151px !important;    left: 185px !important;}
	.sec-header3 p {font-size: 7px!important;		top: 234px !important;		left: 243px !important;
}
	/*END CATEGORY DETAIL BOGOR*/		




}

@media (max-width: 510px){
	.home-dir-wisata{width: 100%!important;padding-bottom: 32px !important;}
	.home-galeri-wisata, .image-gw{width: 100% !important;}
	.image-gw-title{bottom: 105px !important;}

	.widget .cols{margin-right: 14px !important;width: 100% !important;padding-bottom: 40px !important;}
	.fr{float: left !important;}

	.widget .cols-article{    width: 100% !important;margin-bottom: 20px !important; padding-top: 0 !important}
	.agenda-text, .agenda-list{width: 100%!important;}
	.widget .cerlang-box{    width: 74%!important;		margin-left: 9% !important;}
	.agenda-list .agenda-box{    width: auto !important;}

	.sec-blog-image{    background-position: center top !important; height: auto !important;}
	.summary-ag{padding-top: 25px !important;}
	.list-date .ld-loc{left: 72%!important;}
	.list-date-td .td-loc{left: 73% !important;}
	.list-ag-head{margin-top: 22px !important;}

	.footer-info .footer-alamat{    width: 50% !important;}

	.footer-apps ul{padding: 0 !important; }
	.footer-apps{float: left !important; margin-top: 20px;}
	.sosmed ul li{    font-size: 19px !important;margin-left: 12px !important;}

	.sec-blog{padding-top: 45px !important;}

	/* BLOG DETAIL - ADRIAN */
	.sec-header p {    font-size: 45px !important;}
	.sec-article {	padding: 0px 100px 0 100px !important;}
	.sec-image {	padding: 20px 30px 0 30px !important;}
	.widget .cols1 {	width: 100% !important;	height: 250px !important;	margin-bottom: 3% !important;}
	.join-p {	width: 500px !important;}
	.widget .cols2 {	width: 100% !important;	height: 210px !important;	margin-bottom: 3% !important;}
	.widget .cols3 {	margin-left: 33% !important;	width: 160px !important;	height: 160px !important;}
	.sec-share {    padding: 20px 0 0 100px !important;}
	/* END BLOG DETAIL - ADRIAN */


	/* CERLANG ADRIAN */

	.image-article {	width: 449px !important;}
	.join-p {	width: 500px !important;}	

	/* END CERLANG ADRIAN */

	/* AGENDA LIST DIMAS */

	.widget .cols-agenda {width: 100% !important;}
	.widget .cols-agenda-text {width: 100% !important;}

	/* END */

	/*=== category_blog ==== FARIS ===*/
	.image-gw-title {bottom: 45% !important;}
	
		/*=== END category_blog ==== FARIS ===*/

		/*=== ARTICLE_blog ==== FARIS ===*/
		.sec-header2 h1 {left: 20% !important;top: 19% !important;font-size: 18px !important;line-height: 22px !important;}
		.sec-header2 h4 {left: 11% !important;top: 29% !important;font-size: 5px !important;}
		.sec-header2 p {left: 37% !important;top: 36.5% !important;font-size: 5px !important;line-height: 9px;}

		.kanan ul li {font-size: 11px !important;}
		.sort-article {padding: 7px 0px 7px 3px;}
		.widget2 .cols2 {width: 450px !important;}

		.sec-nav-page {margin: 0px 2% 0 4% !important;}
		/*=== END ARTICLE_blog ==== FARIS ===*/

	/*======== article -detail dwim   =======*/
	.image-detail img {width: 100% !important;}
	.nwslt {font-size: 20px !important;}
	.nwslt {width: 239px !important;}
	.txt-nwslt p {font-size: 11px !important;}
	.side-right {width: 100% !important;}
	.side-left {width: 100% !important;}

	/*======== end article -detail dwim   =======*/


	/*===CATEGORY DETAIL BOGOR==*/

	.sec-header3 h1{font-size: 29px !important; top: 95px !important;     left: 228px !important;}
	.sec-header3 p {font-size: 7px!important;		    top: 200px !important;
    left: 238px !important;
}
	/*END CATEGORY DETAIL BOGOR*/		



	
}

@media (max-width: 430px){

	/*live*/
	.widget .cols-sum-desc{bottom: 60px !important;}
	.agenda-list .agenda-box{height: 585px !important;}
	
	/*end live*/

	.footer-apps{clear: both;float: left !important;margin-top: 40px !important;}
	.pb15{padding-bottom: 5px !important;}
	.cpr, .sosmed{float: none !important}
	.sosmed ul{padding: 0 !important; margin: 0 !important;}
	.sosmed ul li{margin-right: 12px !important;margin-left: 0px !important;}
	.widget .cerlang-box{    width: 74%!important;		margin-left: 9% !important;}

	.camera_caption{font-size: 19px !important;line-height: 27px !important;}
	.camera_caption > div{width: 300px !important;}


	/*BLOG DETAIL - ADRIAN */
	.sec-article {	padding: 0px 50px 0 50px !important;}
	.join-p {	width: 378px !important;}
	.widget .cols1 {    height: 220px !important;}
	.widget .cols2 {	width: 100% !important;	height: 180px !important;	margin-bottom: 3% !important;}
	.widget .cols3 {	margin-left: 110px !important;	width: 160px !important;	height: 160px !important;}
	.sec-share {    padding: 20px 0 0 50px !important;}
	/* END BLOG DETAIL - ADRIAN */

	/* CERLANG ADRIAN */

	.image-article {	width: 315px !important;}
	.join-p {	width: 378px !important;}

	/* END CERLANG ADRIAN */

	/*=== category_blog ==== FARIS ===*/
	.image-gw-title {   bottom: 45% !important;}	
	/*=== END category_blog ==== FARIS ===*/

	/*=== ARTICLE_blog ==== FARIS ===*/
	.sec-header2 h1 {left: 21% !important;top: 17% !important;font-size: 15px !important;line-height: 17px !important;}
	.sec-header2 h4 {left: 12% !important;top: 26% !important;font-size: 4px !important;}
	.sec-header2 p {left: 33.5% !important;top: 33.5% !important;font-size: 3px !important;line-height: 9px;}
	
	.kanan ul li{margin-left: 2px !important;}
	.widget2 .cols2 {width: 370px !important;}
	.sec-nav-page{   padding: 8% !important; margin: 0px 0% 0 0% !important;}
	/*=== END ARTICLE_blog ==== FARIS ===*/

		/*===CATEGORY DETAIL BOGOR==*/

	.sec-header3 h1 {
    font-size: 23px !important;
    top: 87px !important;
    left: 120px !important;
}
	.sec-header3 p {
    width: 287px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 7px!important;
    top: 161px !important;
    left: 161px !important;
}
	/*END CATEGORY DETAIL BOGOR*/

}

@media (max-width: 330px){
	/*live*/
	.widget .cols-sum-title p{line-height: 21px !important; padding-bottom: 17px !important;}
	.camera_caption > div{width: 275px !important;}
	.list-date .ld-loc{left: 59%!important;}
	.list-ag-cat{display: block !important;}
	.list-ag-date{float: none !important;}
	.list-ag-date p{right: 0 !important; text-align: left !important;}
	/*end live*/
	.list-date .ld-loc{left: 50%!important;}
	.list-date-td .td-loc{    left: 52% !important;}
	.agenda-list .agenda-box{height: 585px !important;}
	
	.widget .cerlang-box {width: 80%!important;		margin-left: 8% !important;}


	/* BLOG DETAIL - ADRIAN */

	.sec-header h2 {	font-size: 10px !important;}
	.sec-header p {	font-size: 40px !important;}
	.widget .cols1 {	height: 210px !important;}
	.widget .cols3 {	margin-left: 55px !important;}
	.sec-share {	padding: 20px 0 0 50px !important;	margin-bottom: 3% !important;}
	.share-title p {	line-height: 28px !important;}
	.sec-icon {	font-size: 21px !important;}
	.join-p {	width: 320px !important;}
	.join-p p {    font-size: 12px !important;}
	/* END BLOG DETAIL - ADRIAN */

  /* CERLANG ADRIAN */

	.image-article {	width: 260px !important;}
	.join-p {	width: 320px !important;}
	.join-p p {    font-size: 12px !important;}

  /* END CERLANG ADRIAN */


		/*=== ARTICLE_blog ==== FARIS ===*/
		.sec-header2 h1 {left: 22% !important;top: 17% !important;font-size: 11px !important;line-height: 12px !important;}
		.sec-header2 h4 {left: 15% !important;top: 23% !important;font-size: 4px !important;}
		.sec-header2 p {left: 39% !important;top: 28.5% !important;font-size: 4px !important;line-height: 5px;}
		
		.widget2 .cols2 {width: 260px !important;}
		.sec-nav-page {padding: 0% !important;}


	/*===CATEGORY DETAIL BOGOR==*/

.sec-header3 h1 {
    font-size: 20px !important;
    top: 99px !important;
    left: 114px !important;
}

.sec-header3 p {
    font-size: 10px!important;
    top: 148px !important;
    left: 162px !important;
    width: 274px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;

    /*END CATEGORY DETAIL BOGOR*/
}